@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}